
php_value display_errors 1
php_flag output_buffering on
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Allow access to assets folder
    RewriteRule ^assets/ - [L]
    
    # Prevent directory listing
    Options -Indexes
</IfModule>

<IfModule mod_mime.c>
    AddType text/css .css
    AddType application/javascript .js
</IfModule>